body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcyan
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Navigation */
nav {
  background-color: whitesmoke;
  box-shadow: 0 .1rem 1rem black;
}



/* Programming */
.search {
  padding: 1rem;
}

.search > div  {
  padding: 1rem;
}


/* Workout */
.workout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
}


.workout--image > img {
  width: 100%;
  padding: 1rem;
}

.workout--body {
  padding: 1rem;
}

.workout--indent {
  margin-left: 1rem;
}


